<div class="listOfProductsItem">
    <h2 class="listOfProductsItem__text">Тренажеры для дома</h2>
    <%- include("src/components/gridConteiner/gridConteiner.ejs") %>
    <%- include("src/components/btn/btnAllItems.ejs") %>
</div>