<div class="listOfProductsItem">
    <h2 class="listOfProductsItem__text"><%- title %></h2>
    <%- include("src/components/gridConteiner/gridConteinerHomeFit.ejs") %>
    <%- include("src/components/btn/btnAllItems.ejs", {
        title: 'Все категории'
    }) %>
</div>