.brandBox-imgFirst {
    background-image: url(/src/image/forPopularBrands/bowflexx.png);
}

.brandBox-imgSecond {
    background-image: url(/src/image/forPopularBrands/boxingbar.png);
}

.brandBox-imgThird {
    background-image: url(/src/image/forPopularBrands/cardiopower.png);
}

.brandBox-imgFourth {
    background-image: url(/src/image/forPopularBrands/cardiopowerpro.png);
}

.brandBox-imgFifth {
    background-image: url(/src/image/forPopularBrands/doublefish.png);
}

.brandBox-imgSixth {
    background-image: url(/src/image/forPopularBrands/eclipse.png);
}

.brandBox-imgSeventh {
    background-image: url(/src/image/forPopularBrands/gym80.png);
}

.brandBox-imgEighth {
    background-image: url(/src/image/forPopularBrands/hyfit.png);
}

.brandBox-imgNinth {
    background-image: url(/src/image/forPopularBrands/kernel.png);
}

.brandBox-imgTenth {
    background-image: url(/src/image/forPopularBrands/meridien.png);
}

.brandBox-imgEleventh {
    background-image: url(/src/image/forPopularBrands/nautilus.png);
}

.brandBox-imgTwelfth {
    background-image: url(/src/image/forPopularBrands/octanaFitness.png);
}

.brandBox-imgThirteenth {
    background-image: url(/src/image/forPopularBrands/optima.png);
}

.brandBox-imgFourteenth {
    background-image: url(/src/image/forPopularBrands/original.png);
}

.brandBox-imgFifteenth {
    background-image: url(/src/image/forPopularBrands/proski.png);
}