.brandBox-imgFirst {
    background-image: url(/src/image/forPopularBrands/bowflexxFor960.png);
}

.brandBox-imgSecond {
    background-image: url(/src/image/forPopularBrands/boxingbarFor960.png);
}

.brandBox-imgThird {
    background-image: url(/src/image/forPopularBrands/cardiopowerFor960.png);
}

.brandBox-imgFourth {
    background-image: url(/src/image/forPopularBrands/cardiopowerproFor960.png);
}

.brandBox-imgFifth {
    background-image: url(/src/image/forPopularBrands/eclipseFor960.png);
}

.brandBox-imgSixth {
    background-image: url(/src/image/forPopularBrands/gym80For960.png);
}

.brandBox-imgSeventh {
    background-image: url(/src/image/forPopularBrands/hyfitFor960.png);
}

.brandBox-imgEighth {
    background-image: url(/src/image/forPopularBrands/kernelFor960.png);
}

.brandBox-imgNinth {
    background-image: url(/src/image/forPopularBrands/nautilusFor960.png);
}


.brandBox-imgTenth {
    background-image: url(/src/image/forPopularBrands/octanaFitnessFor960.png);
}

.brandBox-imgEleventh {
    background-image: url(/src/image/forPopularBrands/optimaFor960.png);
}

.brandBox-imgTwelfth {
    background-image: url(/src/image/forPopularBrands/originalFor960.png);
}