<div class="slider-container">
    <div class="slider__triangle"></div>
    <%- include("src/components/slidesItem/slidersUl.ejs")%>
    <button class="slider-container__prev-button buttons" onclick="minusSlide()"></button>
    <button class="slider-container__next-button buttons" onclick="plusSlide()"></button>
</div>