<article class="stock-wrapper">
      <div class="stock__header">
        <h3 class="stock__header heading">Акция</h3>
        <a href="#" class="stock__header recommendations">Новинки</a>
        <a href="#" class="stock__header recommendations">Мы рекомендуем</a>
      </div>
      <%- include("src/components/stock__item/stock__item.ejs")%>
  </article>