.btnAllItems {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px, 20px, 13px, 20px;
    width: 142px;
    height: 42px;
    border: 1px solid #F53B49;
    box-sizing: border-box;
    border-radius: 4px;
}
.btnAllItems__p {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    width: 102px;
    height: 17px;
    color: #F53B49;
    text-align: center; 
}
.btnAllBrands {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px, 20px, 13px, 20px;
    width: 125px;
    height: 42px;
    border: 1px solid #F53B49;
    box-sizing: border-box;
    border-radius: 4px;
}