<div class="newsItem ">
    <a href="">
        <div class="newsItem-imgDiv <%- className %>"></div>
        <div>
            <h3 class="newsItem-imgDiv__title"><%- title %></h3>
            <p class="newsItem-imgDiv__paragraph">Представляем тренажеры<br>Nautilus 626 серии.</p>
            <time class=".newsItem-imgDiv__time">2021.07.18</time>
        </div>
    </a>
</div>