.newsItem-imgFirst {
    background-image: url(/image/forNewsBlog/begFor960.png);
}
.newsItem-imgSecond {
    background-image: url(/image/forNewsBlog/podtagivaniaFor960.png);
}
.newsItem-imgThird {
    background-image: url(/image/forNewsBlog/dorozkaFor960.png);
}