<div class="newsItem ">
    <a href="">
        <div class="newsItem-imgDiv <%- className %>"></div>
        <div>
            <h3 class=""><%- title %></h3>
            <p class="">Представляем тренажеры<br>Nautilus 626 серии.</p>
            <time>2021.07.18</time>
        </div>
    </a>
</div>