.newsItem-imgFirst {
    background-image: url(/src/image/forNewsBlog/beg.png);
}
.newsItem-imgSecond {
    background-image: url(/src/image/forNewsBlog/podtagivania.png);
}
.newsItem-imgThird {
    background-image: url(/src/image/forNewsBlog/dorozka.png);
}
.newsItem-imgFoutr {
    background-image: url(/src/image/forNewsBlog/tagabloca.png);
}