<main class="main">
    <article class="simulators-wrapper">
        <div class="simulators">
        </div>
      </article>
    <%- include("src/components/stock-wrapper/stock-wrapper.ejs")%>
    <%- include("src/components/services/services.ejs")%>   
    <%- include("src/components/map/map.ejs")%> 
</main>