<main class="main">
    <article class="simulators-wrapper">
        <div class="simulators">
        </div>
      </article>
    <%- include("src/components/stock-wrapper/stock-wrapper.ejs")%>
</main>