a {
  text-decoration: none; }

p {
  text-decoration: none; }

.listOfProductsItem__text {
  position: static;
  width: 369px;
  height: 33px;
  left: 0px;
  top: 0px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 110%;
  color: #1A1A25;
  margin: 30px 0px; }

.listOfProductsItem {
  width: 1410px;
  margin-right: auto;
  margin-left: auto; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px, 20px, 13px, 20px;
  width: 142px;
  height: 42px;
  border: 1px solid #F53B49;
  box-sizing: border-box;
  border-radius: 4px; }

.btn__p {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  width: 102px;
  height: 17px;
  color: #F53B49;
  text-align: center; }

.btnSmall {
  width: 125px; }

.gridConteinerFitnesClub-elemFirst {
  grid-area: 1 / 1 / 2 / 3; }

.gridConteinerFitnesClub-elemSecond {
  grid-area: 1 / 3 / 2 / 4; }

.gridConteinerFitnesClub-elemThird {
  grid-area: 1 / 4 / 2 / 5; }

.gridConteinerFitnesClub-elemFourth {
  grid-area: 2 / 0 / 3 / -1; }

.gridConteinerFitnesClub-elemFifth {
  grid-area: 2 / 2 / 3 / 3; }

.gridConteinerFitnesClub-elemSixth {
  grid-area: 2 / 3 / 3 / 4; }

.gridConteinerFitnesClub-elemSeventh {
  grid-area: 2 / 4 / 3 / 5; }

.gridConteinerHomeFit-elemFirst {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: -1; }

.gridConteinerHomeFit-elemSecond {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: -1; }

.gridConteinerHomeFit-elemThird {
  grid-column-start: 3; }

.gridConteinerHomeFit-elemFourth {
  grid-column-start: 3; }

.gridConteinerHomeFit-elemFifth {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4; }

.gridConteinerHomeFit-elemSixth {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4; }

.gridConteinerHomeFit-elemSeventh {
  grid-column-start: 1;
  grid-row-start: -1;
  grid-row-end: -2; }

.gridConteinerHomeFit-elemEighth {
  grid-row-start: -1;
  grid-row-end: -2;
  grid-column-start: 2; }

.gridConteinerHomeFit-elemNinth {
  grid-row-start: -1;
  grid-row-end: -2;
  grid-column-start: 3; }

.gridConteinerHomeFit-elemTenth {
  grid-row-start: -1;
  grid-row-end: -2;
  grid-column-start: 4; }

.gridConteinerHomeFit {
  margin-bottom: 30px;
  width: 1410px;
  height: 740px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 30px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.gridConteinerFitnesClub {
  margin-bottom: 30px;
  width: 1410px;
  height: 590px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 30px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.gridConteinerBrandBox {
  margin-bottom: 30px;
  width: 1410px;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.productItem-imgHomeFitFirst {
  background-image: url(/src/image/forHomeFit/RunRoad.png);
  opacity: 90%;
  background-color: #0D1012; }

.productItem-imgHomeFitSecond {
  background-image: url(/src/image/forHomeFit/ElipsSimulators.png); }

.productItem-imgHomeFitThird {
  background-image: url(/src/image/forHomeFit/Cuclingsimuliators.png); }

.productItem-imgHomeFitFourth {
  background-image: url(/src/image/forHomeFit/poersimmulitors.png); }

.productItem-imgHomeFitFifth {
  background-image: url(/src/image/forHomeFit/skySimmuliators.png); }

.productItem-imgHomeFitSixth {
  background-image: url(/src/image/forHomeFit/greblia.png); }

.productItem-imgHomeFitSeventh {
  background-image: url(/src/image/forHomeFit/Batut.png); }

.productItem-imgHomeFitEighth {
  background-image: url(/src/image/forHomeFit/GameTAble.png); }

.productItem-imgHomeFitNinth {
  background-image: url(/src/image/forHomeFit/kreslo.png); }

.productItem-imgHomeFitTenth {
  background-image: url(/src/image/forHomeFit/akses.png); }

.productItem-imgFitnesClubFirst {
  background-image: url(/src/image/forFitnesClub/professionalCardio.png);
  opacity: 90%;
  background-color: #0D1012; }

.productItem-imgFitnesClubSecond {
  background-image: url(/src/image/forFitnesClub/gruzoblochniitrenazerii.png); }

.productItem-imgFitnesClubThird {
  background-image: url(/src/image/forFitnesClub/svobodniivesa.png); }

.productItem-imgFitnesClubFourth {
  background-image: url(/src/image/forFitnesClub/functionaltraining.png); }

.productItem-imgFitnesClubFifth {
  background-image: url(/src/image/forFitnesClub/wellness.png); }

.productItem-imgFitnesClubSixth {
  background-image: url(/src/image/forFitnesClub/rehabilitation.png); }

.productItem-imgFitnesClubSeventh {
  background-image: url(/src/image/forFitnesClub/dumbbells.png); }

.productItem {
  margin: 0 auto;
  background-position: right;
  background-repeat: no-repeat;
  width: 330px;
  height: 280px;
  background-color: #F0F1F7;
  border-radius: 6px; }

.productItem-small {
  height: 200px; }

.productItem-tall {
  height: 430px; }

.productItem-wide {
  width: 690px; }

.productItem__p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #1A1A25;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 10px;
  padding: 30px 30px; }

.productItem__p-whiteText {
  color: #FFFFFF; }

.brandBox-imgFirst {
  background-image: url(/src/image/forPopularBrands/bowflexx.png); }

.brandBox-imgSecond {
  background-image: url(/src/image/forPopularBrands/boxingbar.png); }

.brandBox-imgThird {
  background-image: url(/src/image/forPopularBrands/cardiopower.png); }

.brandBox-imgFourth {
  background-image: url(/src/image/forPopularBrands/cardiopowerpro.png); }

.brandBox-imgFifth {
  background-image: url(/src/image/forPopularBrands/doublefish.png); }

.brandBox-imgSixth {
  background-image: url(/src/image/forPopularBrands/eclipse.png); }

.brandBox-imgSeventh {
  background-image: url(/src/image/forPopularBrands/gym80.png); }

.brandBox-imgEighth {
  background-image: url(/src/image/forPopularBrands/hyfit.png); }

.brandBox-imgNinth {
  background-image: url(/src/image/forPopularBrands/kernel.png); }

.brandBox-imgTenth {
  background-image: url(/src/image/forPopularBrands/meridien.png); }

.brandBox-imgEleventh {
  background-image: url(/src/image/forPopularBrands/nautilus.png); }

.brandBox-imgTwelfth {
  background-image: url(/src/image/forPopularBrands/octanaFitness.png); }

.brandBox-imgThirteenth {
  background-image: url(/src/image/forPopularBrands/optima.png); }

.brandBox-imgFourteenth {
  background-image: url(/src/image/forPopularBrands/original.png); }

.brandBox-imgFifteenth {
  background-image: url(/src/image/forPopularBrands/proski.png); }

.brandBox {
  width: 282px;
  height: 150px;
  margin: 0 auto;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid rgba(133, 143, 164, 0.2); }

.brandBox_firstLine {
  height: 170px; }

.flexConteiner {
  display: flex; }

.flexConteinerPopularBrand {
  margin-top: 30px;
  margin-bottom: 30px; }

.flexConteinerNewsBlog {
  width: 1695px;
  height: 440px; }

.gridBrandBox-elemFirst {
  grid-area: 1 / 1 / 2 / 2; }

.gridBrandBox-elemSecond {
  grid-area: 1 / 2 / 2 / 3; }

.gridBrandBox-elemThird {
  grid-area: 1 / 3 / 2 / 4; }

.gridBrandBox-elemFourth {
  grid-area: 1 / 4 / 2 / 5; }

.gridBrandBox-elemFifth {
  grid-area: 1 / 5 / 2 / 6; }

.gridBrandBox-elemSixth {
  grid-area: 2 / 1 / 3 / 2; }

.gridBrandBox-elemSeventh {
  grid-area: 2 / 2 / 3 / 3; }

.gridBrandBox-elemEighth {
  grid-area: 2 / 3 / 3 / 4; }

.gridBrandBox-elemNinth {
  grid-area: 2 / 4 / 3 / 5; }

.gridBrandBox-elemTenth {
  grid-area: 2 / 5 / 3 / 6; }

.gridBrandBox-elemEleventh {
  grid-area: 3 / 1 / 4 / 2; }

.gridBrandBox-elemTwelfth {
  grid-area: 3 / 2 / 4 / 3; }

.gridBrandBox-elemThirteenth {
  grid-area: 3 / 3 / 4 / 4; }

.gridBrandBox-elemFourteenth {
  grid-area: 3 / 4 / 4 / 5; }

.gridBrandBox-elemFifteenth {
  grid-area: 3 / 5 / 4 / 6; }

.link {
  display: box;
  margin-right: 30px;
  height: 21px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #384255; }

.gridBrandBox-elemFirst {
  grid-area: 1 / 1 / 2 / 2; }

.gridBrandBox-elemSecond {
  grid-area: 1 / 2 / 2 / 3; }

.gridBrandBox-elemThird {
  grid-area: 1 / 3 / 2 / 4; }

.gridBrandBox-elemFourth {
  grid-area: 1 / 4 / 2 / 5; }

.gridBrandBox-elemFifth {
  grid-area: 1 / 5 / 2 / 6; }

.gridBrandBox-elemSixth {
  grid-area: 2 / 1 / 3 / 2; }

.gridBrandBox-elemSeventh {
  grid-area: 2 / 2 / 3 / 3; }

.gridBrandBox-elemEighth {
  grid-area: 2 / 3 / 3 / 4; }

.gridBrandBox-elemNinth {
  grid-area: 2 / 4 / 3 / 5; }

.gridBrandBox-elemTenth {
  grid-area: 2 / 5 / 3 / 6; }

.gridBrandBox-elemEleventh {
  grid-area: 3 / 1 / 4 / 2; }

.gridBrandBox-elemTwelfth {
  grid-area: 3 / 2 / 4 / 3; }

.gridBrandBox-elemThirteenth {
  grid-area: 3 / 3 / 4 / 4; }

.gridBrandBox-elemFourteenth {
  grid-area: 3 / 4 / 4 / 5; }

.gridBrandBox-elemFifteenth {
  grid-area: 3 / 5 / 4 / 6; }

.newsItem-imgFirst {
  background-image: url(/src/image/forNewsBlog/beg.png); }

.newsItem-imgSecond {
  background-image: url(/src/image/forNewsBlog/podtagivania.png); }

.newsItem-imgThird {
  background-image: url(/src/image/forNewsBlog/dorozka.png); }

.newsItem-imgFoutr {
  background-image: url(/src/image/forNewsBlog/tagabloca.png); }

.newsItem {
  display: flex;
  width: 315px;
  height: 440px;
  border-radius: 6px; }

.newsItem-imgDiv {
  height: 260px; }
