<div class="categories-wrapper">
    <div class="categories">
      <div class="dropdown category">
        <button class="dropdown__default category">Для дома</button>
        <div class="dropdown__items">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown category">
        <button class="dropdown__default category">Для фитнес клуба</button>
        <div class="dropdown__items">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
  </div>