<div class="stock__items-wrapper">
    <div class="stock__item">
      <div class="image">
        <a href="#" class="stock__img"></a>
      </div>
      <div class="content">
        <div class="is-available">
          <span>В наличии</span>
          <a href="#">Есть в шоуруме</a>
        </div>
        <div class="description">
          <a href="#">Беговая дорожка CardioPower T20 Plus</a>
          <span>Рейтинг</span>
        </div>
        <div class="stock__item-buy">
          <div class="price">
            <span class="current-price">34 900 ₽</span>
            <span class="previous-price">34 900 ₽</span>
          </div>
          <button class="catalog__btn buy__btn">Купить</button>
        </div>
      </div>
    </div>
  </div>