.gridConteinerFitnesClub-elemFirst {
    grid-area: 1 / 1 / 2 / 3;
}
.gridConteinerFitnesClub-elemSecond {
    grid-area: 1 / 3 / 2 / 4;
}
.gridConteinerFitnesClub-elemThird {
    grid-area: 1 / 4 / 2 / 5;
}
.gridConteinerFitnesClub-elemFourth {
    grid-area: 2 / 0 / 3 / -1;
}
.gridConteinerFitnesClub-elemFifth {
    grid-area: 2 / 2 / 3 / 3;
}
.gridConteinerFitnesClub-elemSixth {
    grid-area: 2 / 3 / 3 / 4;
}
.gridConteinerFitnesClub-elemSeventh {
    grid-area: 2 / 4 / 3 / 5;
}