.gridConteinerHomeFit {
    margin-bottom: 30px;
    width: 1410px;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gridConteinerFitnesClub {
    margin-bottom: 30px;
    width: 1410px;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gridConteinerBrandBox {
    margin-bottom: 30px;
    width: 1410px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
