.gridBrandBox-elemFirst {
    grid-area: 1 / 1 / 2 / 2;
}

.gridBrandBox-elemSecond {
    grid-area: 1 / 2 / 2 / 3;
}

.gridBrandBox-elemThird {
    grid-area: 1 / 3 / 2 / 4;
}

.gridBrandBox-elemFourth {
    grid-area: 1 / 4 / 2 / 5;
}

.gridBrandBox-elemFifth {
    grid-area: 1 / 5 / 2 / 6;
}

.gridBrandBox-elemSixth {
    grid-area: 2 / 1 / 3 / 2;
}

.gridBrandBox-elemSeventh {
    grid-area: 2 / 2 / 3 / 3;
}

.gridBrandBox-elemEighth {
    grid-area: 2 / 3 / 3 / 4;
}

.gridBrandBox-elemNinth {
    grid-area: 2 / 4 / 3 / 5;
}

.gridBrandBox-elemTenth {
    grid-area: 2 / 5 / 3 / 6;
}

.gridBrandBox-elemEleventh {
    grid-area: 3 / 1 / 4 / 2;
}

.gridBrandBox-elemTwelfth {
    grid-area: 3 / 2 / 4 / 3;
}

.gridBrandBox-elemThirteenth {
    grid-area: 3 / 3 / 4 / 4;
}

.gridBrandBox-elemFourteenth {
    grid-area: 3 / 4 / 4 / 5;
}

.gridBrandBox-elemFifteenth {
    grid-area: 3 / 5 / 4 / 6;
}