.listOfProductsItem__text {
    position: static;
    width: 369px;
    height: 33px;
    left: 0px;
    top: 0px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;

    color: #1A1A25;

    margin: 30px 0px;
}