<div class="listOfProductsItem">
    <h2 class="listOfProductsItem__text"><%- title %></h2>
    <%- include("src/components/flexConteiner/flexConteinerPopularBrand.ejs") %>
    <%- include("src/components/gridConteiner/gridConteinerBrandBox.ejs") %>
    <%- include("src/components/btn/btnSmall.ejs", {
        title: 'Все бренды'
    }) %>
</div>