/*Start Navigation*/
.navigation-wrapper{
    background-color: #000;
    border-top: rgba(133, 143, 164, 0.15) 1px solid;
 }
 
 .navigation{
    max-width: 100%;
    margin: 0 auto;
    padding: 16px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
 
 .catalog-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 
 .catalog__btn{
    padding: 15px 20px 16px 50px;
    background-color: #F53B49;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-right: 25px;
    position: relative;
 }
 
 .catalog__btn::before{
    content: url('/image/whithSonya/menu_icon.png');
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
 
 }
 
 .search__btn{
    width: 20px;
    height: 20px;
    background: url("/image/whithSonya/search_icon.png") no-repeat;
    border: none;
    padding-right: 32px;
    margin-left: 25px;
    margin-right: 24px;
    position: relative;
 }
 
 .search__btn:after{
    content: '';
    width: 1px;
    height: 40px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: translate(-50%, -50%);
 }
 
 
 .navigation__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 24px;
 
 }
 
 .navigation__item{
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    margin-right: 36px;
 }
 
 .tools{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 
 .tools__item{
    display: block;
    margin-left: 46px;
 }
 
 .tools__item_comparison{
    width: 17px;
    height: 18px;
    background: url("/image/whithSonya/comparison_icon.png") no-repeat;
 }
 
   .tools__item_selected{
    width: 24px;
    height: 20px;
    background: url("/image/whithSonya/selected_icon.png") no-repeat;
 }
 
 .tools__item_cart{
    width: 21px;
    height: 26px;
    background: url("/image/whithSonya/cart.png") no-repeat;
 }
 /*End Navigation*/