<nav class="navigation-wrapper">
    <div class="navigation">
      <div class="catalog-navigation">
        <button class="catalog__btn">Каталог</button>
        <button class="search__btn"></button>
        <div class="navigation__items">
          <a href="#" class="navigation__item">Бренды</a>
          <a href="#" class="navigation__item">Сервис</a>
          <a href="#" class="navigation__item">Услуги</a>
          <a href="#" class="navigation__item">Поддержка</a>
          <a href="#" class="navigation__item">О компании</a>
          <a href="#" class="navigation__item">Блог</a>
          <a href="#" class="navigation__item">Где купить</a>
          <a href="#" class="navigation__item">Контакты</a>
        </div>
      </div>
      <div class="tools">
        <a href="#" class="tools__item tools__item_comparison"></a>
        <a href="#" class="tools__item tools__item_selected"></a>
        <a href="#" class="tools__item tools__item_cart"></a>
      </div>
    </div>
  </nav>