<footer class="footer-wrapper">
    <div class="footer">
        <div class="footer__list">
            <ul title="Каталог" class="footer__list__title">
                <li><a href="#">Для дома</a></li>
                <li><a href="#">Для фитнес клубов</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Идеи и подборки</a></li>
                <li><a href="#">Новинки</a></li>
                <li><a href="#">Наши бренды</a></li>
            </ul>
            <ul title="Поддержка" class="footer__list__title">
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Условия возврата</a></li>
                <li><a href="#">Сервисная заявка</a></li>
                <li><a href="#">Обслуживание фитнес клубов</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Инструкции</a></li>
                <li><a href="#">Гарантия</a></li>
            </ul>
            <ul title="Услуги" class="footer__list__title">
                <li><a href="#">3D проект</a></li>
                <li><a href="#">Консалтинг</a></li>
                <li><a href="#">Бизнес планирование</a></li>
                <li><a href="#">Лизинг</a></li>
                <li><a href="#">Trade-IN</a></li>
                <li><a href="#">В рассрочку</a></li>
            </ul>
            <ul title="О компании" class="footer__list__title">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Наша миссия</a></li>
                <li><a href="#">Наша команда</a></li>
                <li><a href="#">Наши проекты</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Где купить</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="footer-contacts">
            <div class="footer-contacts-input">
                <input class="footer-contacts__subscribe" placeholder="Подписаться на рассылку" type="email">
                <button type="submit" class="footer-contacts__submit-btn"></button>
            </div>
            <span class="footer-contacts__phone-number">+7 (000) 000-00-00 для Москвы</span>
            <span class="footer-contacts__phone-number">8 (800) 000-00-00 для России</span>
            <button class="footer-contacts__call-request">Заказать звонок</button>
            <span class="footer-contacts__email">wellfitness@wellfit.ru</span>
            <button class="footer-contacts__call-request ">Написать</button>
            <span class="footer-contacts__rules"><a>Политика конфиденциальности</a></span>
            <span class="footer-contacts__rules"><a>Публичная оферта</a></span>
        </div>
    </div>
    <%- include("src/components/social-media/social-media.ejs")%>   
</footer>