.dropdown__default {
    background: none;
    color: #858FA4;
    font-size: 14px;
    line-height: 140%;
    border: none;
    padding-right: 20px;
    position: relative;
 }
 
 .dropdown:after{
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    border: 4px solid transparent;
    border-top: 6px solid #858FA4;
 }
 
 .dropdown:hover:after{
    border: 4px solid transparent;
    border-bottom: 6px solid #858FA4;
 }
 
 .dropdown {
    position: relative;
    display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default)*/
 .dropdown__items {
    display: none;
    position: absolute;
    background: #000;
    margin-left: 50px;
    min-width: 160px;
    z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown__items a {
    font-size: 14px;
    color: #858FA4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
 
 .dropdown__items a:hover {
    background-color: #000;
 }
 
 .dropdown:hover .dropdown__items {
    display: block;
 }