<div class="dropdown">
    <button class="dropdown__default">Москва</button>
    <div class="dropdown__items">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>