.list-of-fitness-products__grid-box {
    margin-bottom: 30px;
    height: 740px;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-of-fitness-products__product-box-tall {
    margin: 0 auto;
    background-position: right;
    background-repeat: no-repeat;
    width: 330px;
    height: 430px;
    background-color: #F0F1F7;
    border-radius: 6px;
}

.list-of-fitness-products__product-box-small {
    margin: 0 auto;
    background-position: right;
    background-repeat: no-repeat;
    width: 330px;
    height: 200px;
    background-color: #F0F1F7;
    border-radius: 6px;
}

.list-of-fitness-products__product-box {
    margin: 0 auto;
    background-position: right;
    background-repeat: no-repeat;
    width: 330px;
    height: 280px;
    background-color: #F0F1F7;
    border-radius: 6px;
}