<link rel="stylesheet" href="my.css">
<body>
    <div class="list-of-fitness-products">
        <h2 class="list-of-fitness-products__h2">Тренажеры для дома</h2>
        <div class="list-of-fitness-products__grid-box">
            <div class="list-of-fitness-products__product-box-tall list-of-fitness-products__product-1">
                <a href="">
                    <h3 class="list-of-fitness-products__h3">Беговые<br>
                    дорожки</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box-tall list-of-fitness-products__product-2">
                <a href="">
                    <h3 class="list-of-fitness-products__h3">Элиптические<br>
                    тренажеры</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box-small list-of-fitness-products__product-3">
                <a href="">
                    <h3 class="list-of-fitness-products__h3">Велотренажеры</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box-small list-of-fitness-products__product-4">
                <a href="">
                    <h3 class="list-of-fitness-products__h3">Силовые<br>
                    тренажеры</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box-small list-of-fitness-products__product-5">
                <a href="">
                    <h3 class="list-of-fitness-products__h3">Горнолыжные<br>
                    тренажеры</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box-small list-of-fitness-products__product-6">
                <a href="">
                <h3 class="list-of-fitness-products__h3">Гребные<br>
                    тренажеры</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box list-of-fitness-products__product-7">
                <a href="">
                    <h3 class="list-of-fitness-products__h3">Батуты</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box list-of-fitness-products__product-8">
                <a href="">
                    <h3 class="list-of-fitness-products__h3">Игровые<br>
                    столы</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box list-of-fitness-products__product-9">
                <a href="">
                    <h3 class="list-of-fitness-products__h3">Массажные<br>
                    кресла</h3>
                </a>
            </div>
            <div class="list-of-fitness-products__product-box list-of-fitness-products__product-10">
                    <a href="">
                        <h3 class="list-of-fitness-products__h3">Фитнес<br>
                        аксессуары</h3>
                    </a>
            </div>
        </div>
        <div class="list-of-fitness-products__button-all-category">
            <a href="">
                <h3 class="list-of-fitness-products__button-all-category__h3">Все категории</h3>
            </a>
        </div>
    </div>
</body>