.productItem-imgHomeFitFirst {
    background-image: url(/src/image/forHomeFit/RunRoadFor960.png);
    opacity: 90%;
    background-color: #0D1012;
}

.productItem-imgHomeFitSecond {
    background-image: url(/src/image/forHomeFit/ElipsSimulatorsFor960.png);
}

.productItem-imgHomeFitThird {
    background-image: url(/src/image/forHomeFit/CuclingsimuliatorsFor960.png);
}

.productItem-imgHomeFitFourth {
    background-image: url(/src/image/forHomeFit/poersimmulitorsFor960.png);
}

.productItem-imgHomeFitFifth {
    background-image: url(/src/image/forHomeFit/skySimmuliatorsFor960.png);
}

.productItem-imgHomeFitSixth {
    background-image: url(/src/image/forHomeFit/grebliaFor960.png);
}

.productItem-imgHomeFitSeventh {
    background-image: url(/src/image/forHomeFit/BatutFor960.png);
}

.productItem-imgHomeFitEighth {
    background-image: url(/src/image/forHomeFit/GameTAbleFor960.png);
}

.productItem-imgHomeFitNinth {
    background-image: url(/src/image/forHomeFit/kresloFor960.png);
}

.productItem-imgHomeFitTenth {
    background-image: url(/src/image/forHomeFit/aksesFor960.png);
}