.productItem-imgFitnesClubFirst {
    background-image: url(/src/image/forFitnesClub/professionalCardio.png);
    opacity: 90%;
    background-color: #0D1012;
}

.productItem-imgFitnesClubSecond {
    background-image: url(/src/image/forFitnesClub/gruzoblochniitrenazerii.png);
}

.productItem-imgFitnesClubThird {
    background-image: url(/src/image/forFitnesClub/svobodniivesa.png);
}

.productItem-imgFitnesClubFourth {
    background-image: url(/src/image/forFitnesClub/functionaltraining.png);
}

.productItem-imgFitnesClubFifth {
    background-image: url(/src/image/forFitnesClub/wellness.png);
}

.productItem-imgFitnesClubSixth {
    background-image: url(/src/image/forFitnesClub/rehabilitation.png);
}

.productItem-imgFitnesClubSeventh {
    background-image: url(/src/image/forFitnesClub/dumbbells.png);
}