.productItem__p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 110%;
    color: #1A1A25;
    margin: 0px 10px;
    padding: 20px 30px; 
    
    .productItem__p-whiteText {
        color: #FFFFFF;
    }
}  
