.productItem-imgFitnesClubFirst {
    background-image: url(/image/forFitnesClub/professionalCardioFor960.png);
    opacity: 90%;
    background-color: #0D1012;
}

.productItem-imgFitnesClubSecond {
    background-image: url(/image/forFitnesClub/gruzoblochniitrenazeriiFor960.png);
}

.productItem-imgFitnesClubThird {
    background-image: url(/image/forFitnesClub/svobodniivesaFor960.png);
}

.productItem-imgFitnesClubFourth {
    background-image: url(/image/forFitnesClub/functionaltrainingFor960.png);
}

.productItem-imgFitnesClubFifth {
    background-image: url(/image/forFitnesClub/wellnessFor960.png);
}

.productItem-imgFitnesClubSixth {
    background-image: url(/image/forFitnesClub/rehabilitationFor960.png);
}

.productItem-imgFitnesClubSeventh {
    background-image: url(/image/forFitnesClub/dumbbellsFor960.png);
}