.productItem {
    margin: 0 auto;
    background-position: right;
    background-repeat: no-repeat;
    width: 220px;
    height: 190px;
    background-color: #ffffff;
    border-radius: 6px;
}
.productItem-small {
    height: 135px;
}
.productItem-tall {
    height: 290px;
}
.productItem-wide {
    width: 460px;
}