.productItem {
    margin: 0 auto;
    background-position: right;
    background-repeat: no-repeat;
    width: 330px;
    height: 280px;
    background-color: #F0F1F7;
    border-radius: 6px;
}
.productItem-small {
    height: 200px;
}
.productItem-tall {
    height: 430px;
}