<div class="footer-social-media">
    <div class="footer-social-media-wrapper">
        <%- include("src/components/logo/logo.ejs")%>
            <p class="footer-social-media__copyrights">© WellFitness. 2007 Все права защищены</p>
    </div>
    <div class="footer-social-media__icons">
        <a href="#" class="footer-social-media__instagram"></a>
        <a href="#" class="footer-social-media__facebook"></a>
        <a href="#" class="footer-social-media__youtube"></a>
    </div>
    <div class="dealership">
        <button class="dealership__btn">Become a Partner</button>
        <span class="dealership__info">Для дилеров</span>
    </div>
    <div class="pay-methods">
        <a href="#" class="pay-methods__visa"></a>
        <a href="#" class="pay-methods__mastercard"></a>
        <a href="#" class="pay-methods__webmoney"></a>
        <a href="#" class="pay-methods__paypal"></a>
    </div>
</div>