<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
    <%- include("src/components/wraperFor/listOfProductsItemHomeFit.ejs", {
    title: 'Тренажеры для дома'
    }) %>
    <%- include("src/components/wraperFor/listOfProductsItemFitnesClub.ejs", {
    title: 'Для фитнес клубов'
    }) %>
    <%- include("src/components/wraperFor/listOfPopularBrand.ejs", {
    title: 'Популярные бренды'
    }) %>
    <%- include("src/components/wraperFor/wraperForNewsBlog.ejs", {
        title: 'Новости'
    }) %>
</html>