<div class="map-wrapper">
    <div class="map">
        <div class="map-info">
            <h3 class="map-info__title">О компании</h3>
            <p class="map-info__paragraph-small">
                Надежный партнер с 2005 года для сотен компаний от Калининграда до Владивостока.
            </p>
            <p class="map-info__paragraph-big">
                Оптима Импорт — один из самых крупных импортеров фитнес-оборудования, эксклюзивно представляет на
                российском
                рынке ведущих мировых производителей: Sole Fitness, Optima Fitness, Halley, Marcy, SKI Simulator и др.
            </p>
            <p class="map-info__paragraph-big">
                Мы предлагаем широкий спектр самой современной и качественной продукции как для домашнего, так и для
                коммерческого фитнеса.
            </p>
            <button class="map-info__btn">Подробнее о компании</button>
        </div>
        <div class="map-background"></div>
    </div> 
</div>